.home{
  padding: 50px 0;
  &__row{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__item{
    font-size: 23px;
    color: white;
    &:hover{
      color: #00000080;
    }
  }
  &__title{
    font-size: 22px;
    color: black;
    margin-bottom: 20px ;
  }
  &__search{
    max-width: 400px;
    width: 100%;
    height: 30px;
    padding: 20px 35px;
    background: white;
    outline: none;
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__label{
    position: relative;
    svg{
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50%);
      font-size: 18px;
    }
  }
}